.dashboard-container {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
}

* {
    padding: 0%;
    margin: 0%;
}

.menu {
    width: 20%;
    background-color: #ffffff;
    margin: 5px;
}

.principal {
    width: 80%;
    background-color: #ffffff;
    margin: 5px;
}

.client-image,
.fornecedor-image,
.clientes-image,
.mecanico-image,
.servico-image,
.pagamentos-image,
.faturamento-image,
.estoque-image {
    border-radius: 70%;
    width: 180px;
    border: 5px solid transparent;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Adicionando transições */
}

/* Adicionando efeito de movimento quando o mouse passa sobre a imagem */
.client-image:hover,
.fornecedor-image:hover,
.clientes-image:hover,
.mecanico-image:hover,
.servico-image:hover,
.pagamentos-image:hover,
.faturamento-image:hover,
.estoque-image:hover {
    transform: translateY(-5px); /* Move a imagem 5 pixels para cima */
}
