.logon-container {

    width: 100%;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #333;
    /* Cor do texto */
    font-size: 24px;
    /* Tamanho da fonte */
    margin-bottom: 20px;
    /* Espaçamento inferior */
}

input {
    border: 1px solid #ccc;
    /* Cor da borda */
    padding: 10px;
    /* Espaçamento interno */
    margin: 5px 0;
    /* Espaçamento externo */
    border-radius: 10px;
    /* Raio da borda */
    height: 10px;
    /* Altura do campo */
    font-size: 16px;
    /* Tamanho da fonte */
    transition: border-color 0.3s;
    /* Transição suave da cor da borda */
}

img {
    width: 380px;

}

.logo {
    display: flex;
    justify-content: center;
}
button {
    background-color: #007bff; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 20px; /* Agora o botão será redondo, ajuste o valor conforme necessário */
    cursor: pointer; /* Cursor ao passar por cima */
    font-size: 16px; /* Tamanho da fonte */
    transition: background-color 0.3s; /* Transição suave da cor de fundo */
    margin-top: 10px; /* Adiciona uma margem no topo do botão para afastá-lo dos campos de entrada */
}
