nav {
    display: flex;
    flex-direction: column;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #007bff;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    width: 85%;
    margin: auto;
    margin-bottom: 8px;
    transition: background-color 0.3s, transform 0.2s;
}

.link:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.icon {
    margin-right: 5px;
    font-size: 1.2em; /* Define o tamanho dos ícones */
}
